html
{
    width: 100%;
    height: 100%;
    --accent: #feebe1;
    --accent-transparent-300: rgba(254, 235, 225, 0.3);
    --neutral-100: #ededed;
    --neutral-200: #dadada;
}

body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--neutral-200);
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.center-screen
{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-message
{
    font-size: 30px;
    background-color: inherit;
    color: white;
    border: none;
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.widget-container
{
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.field-widgets
{
    padding: 0;
    margin: 0;
}

.field-widgets2
{
    margin-left: -1em;
}

.field-widget
{
    font-weight: bold;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.field-widget + .field-widget
{
    margin-left: 1em;
}

.field-widget a
{
    text-decoration: inherit;
    color: inherit;
    display: block;
    margin: 0;
    background-color: white;
    font-size: 2em;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
    line-height: 1;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-widget a:hover
{
    background-color: var(--neutral-100);
}

.field-widget img
{
    width: 70%;
    height: 70%;
}

.search-container
{
}

.searcher
{
    width: 50%;
}

.exit-button
{
    background-color: white;
    margin: 0 auto;
    width: min-content;
    user-select: none;
    font-size: 2em;
    margin-bottom: 0.5em;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    padding: 0.2em 0.4em;
    border-radius: 50%;
    display: flex;
    vertical-align: middle;
    line-height: 1;
}

.exit-button:hover,
.exit-button:focus
{
    background-color: var(--neutral-100);
    cursor: pointer;
}

#mal-query
{
    all: unset;
    padding: 1em;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.search-result
{
    background-color: white;
    border-radius: 1em;
    padding: 0 0.5em;
    cursor: pointer;
}

.search-result + .search-result
{
    margin-top: 1px;
}

.search-result:hover,.search-result:focus
{
    background-color: var(--accent);
}

.info-wrapper
{
    max-width: 100%;
    width: 20em;
    margin: auto;
    padding: 0.6em 0;
    display: flex;
    vertical-align: middle;
    height: 3em;
}

.thumbnail
{
    height: 3em;
    width: 3em;
    box-sizing: border-box;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
}

.result-str
{
    text-align: center;
    max-width: 60%;
    padding: 1em;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}